@use '/styles/variables' as v;
@use '/styles/typography' as t;

.button {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: none;
  border-radius: v.$radius-lg;
  line-height: 1;
  cursor: pointer;
  @include t.text-body(v.$color-retro-cream);

  &_variant {
    &_primary {
      background-color: v.$color-retro-black;
    }

    &_secondary {
      background-color: v.$color-retro-red;
    }
  }

  &_size {
    &_md {
      gap: 10px;
      padding: 15px 20px;

      .button__icon {
        width: 20px;
      }
    }

    &_sm {
      gap: 5px;
      padding: 10px 15px;
      font-size: 12px;

      .button__icon {
        width: 15px;
      }
    }
  }

  &__icon {
    height: auto;

    path {
      fill: currentColor;
    }
  }
}
