@font-face {
  font-family: 'Univa';
  src: url('/public/fonts/univa/UnivaNova-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Univa';
  src: url('/public/fonts/univa/UnivaNova-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Univa';
  src: url('/public/fonts/univa/UnivaNova-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Univa';
  src: url('/public/fonts/univa/UnivaNova-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
