<div class="tndm-input-wrapper">
  @if (label()){
  <label class="label" [for]="id()">{{ label() }}</label>
  }

  <div class="input">
    @if (icon()) {
    <svg-icon class="input__icon" [applyClass]="true" [src]="ICONS[icon()!]" />
    }

    <input
      #input
      class="input__field"
      [class.input-invalid]="isError()"
      [formControl]="control"
      [id]="id()"
      [name]="name()"
      [placeholder]="placeholder() ?? ''"
      [type]="type()"
      (blur)="onTouched()" />
  </div>

  @if (isError()) {
  <span class="error-msg">{{ textError() }}</span>
  }
</div>
